html{
	/*font-size: 1.5vw;*/
	background-color: #66b3ff;
}
body {
	background-color: #66b3ff;
}
.cblue {
	color: #66b3ff;
}
.navy{
	color: #191970;
}
.white {
	color: #ffffff;
}
.black{
	color: #000000;
}
p{
	font-size: 1.5em;
}
a {
	font-family: 'Amiko';
	font-size: 1.5em;
}
.navbar{
	background-color: #66b3ff;
}
.nav-link{
	text-decoration: none;
	color: white; 
}
a{
	text-decoration: none;
	color: white;
}
.left-third{
	background-color: #191970;
}
.middle-third{
	background-color: #66b3ff;
}
.right-third{
	background-color: #191970;
}
.header{
	background-color: white;
}
header{
	text-align: center;
	font-size: 4em;
	font-family: 'Adamina'; 
	background-color: white;
}

h1{
	font-family: 'Adamina';
	font-size: 2.3em;
}
nav{
	/*background-color: #191970;*/
	overflow: hidden;
}
li a {
	color: white;
}
.carousel {
	width: 400px;
	height: 400px;
}
.logo{
	width: 75px;
	height: 75px;
}
.media-block {
	background-color: #87ceeb;
}
#login{
/*	border-color: #191970;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    width: 18%;*/
}
button {background-color: lightblue;
    font-family: 'Amiko';font-size: 20px;
}
