* {
	box-sizing: border-box;
}
body{
	margin: 0;
	display: grid;
	grid-template-columns: 50% 30% 20%;
	grid-template-rows: 80px 50px 1fr 1fr;
	background-color: #66b3ff;
}

header{
	color: #66b3ff;
	grid-row: 1 / 2;
	grid-column: 1 / 4;
	text-align: center;
	font-size: 3em;
	font-family: 'Adamina'; 
	background-color: white;
}
nav{
	grid-row: 2 / 3;
	grid-column: 1 / 4;
	background-color: #66b3ff;
}

.middle-third{
	grid-row: 3 / 5;
	grid-column: 2 / 3;	
}
.right-third {
	grid-row: 3 / 5;
	grid-column: 3 / 4;
}
.footer {
	grid-row: 5 / 6;
	grid-column: 1 / 4;
	background-color: white;
}
p{
	font-size: 1.5em;
}
a {
	font-family: 'Amiko';
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}
.left-third{
	background-color: #191970;
	margin-left: 50px;
}
.right-third{
	background-color: white;
}
ul{
	list-style-type: none;
	position: sticky;
}
ul li {
	display: inline;
	padding-right: 50px;
	padding-left: 50px;
}
h1{
	font-family: 'Adamina';
	font-size: 2.3em;
}
.carousel {
	width: 100%;
}
.logo{
	width: 75px;
	height: 75px;
}
.media-block {
	background-color: #87ceeb;
}
button {
	background-color: lightblue;
    font-family: 'Amiko';font-size: 20px;
}


table{
    background-color: lightgray;
    font-size: 1.4em;
    margin-left: 20px;
    
    position: absolute;
    top:25%;
}

th{
    padding-left: 3px;
    padding-right: 3px;    
    border-style: solid;
    border-color: navy; 
    
    
}
td{
    padding-left: 3px;
    padding-right: 3px;   
    border-style: solid;
    border-color: navy;
    width: 14%;
    height:100px;
}
.table_headin {
    background-color: navy;
    color: lightblue;
}
td:hover{
    background-color: orange;
}
td p {
    font-size: 1em;
}
td div {
    font-size: 1em;
}
.home{
    background-color: #66b3ff;
}
.away{
    background-color: navy;
    color: white;
}
.neutral{
    background-color: lightgreen;
}
.acct{
    background-color: lightcoral;
}
.ncaa{
    background-color: violet;
}