* {
	box-sizing: border-box;
}
body{
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 50px 4fr 1fr;
}
header{
	grid-row: 1 / 2;
	grid-column: 1 / 4;
}
nav{
	grid-row: 2 / 3;
	grid-column: 1 / 4;
}
.container{
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}
.middle-third{
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}
.right-third {
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}
.footer {
	grid-row: 4 / 5;
	grid-column: 1 / 4;
}
html{
	/*font-size: 1.5vw;*/
	background-color: #66b3ff;
}
body {
	background-color: #66b3ff;
}
.cblue {
	color: #66b3ff;
}
.navy{
	color: #191970;
}
.white {
	color: #ffffff;
}
.black{
	color: #000000;
}
p{
	font-size: 1.5em;
}
a {
	font-family: 'Amiko';
	font-size: 1.5em;
}
nav {
	background-color: #66b3ff;
}

a{
	text-decoration: none;
	color: white;
}
.left-third{
	background-color: #191970;
	margin-left: 50px;
}
.middle-third{
	background-color: #66b3ff;
}
.right-third{
	background-color: #191970;
}
.header{
	background-color: white;
}
header{
	text-align: center;
	font-size: 3em;
	font-family: 'Adamina'; 
	background-color: white;
}
ul{
	list-style-type: none;
	position: sticky;
}
ul li {
	display: inline;
	padding-right: 50px;
}
h1{
	font-family: 'Adamina';
	font-size: 2.3em;
}

.carousel {
	width: 400px;
	height: 200px;
}
.logo{
	width: 75px;
	height: 75px;
}
.media-block {
	background-color: #87ceeb;
}
.login{
/*	border-color: #191970;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    width: 18%;*/
}
button {background-color: lightblue;
    font-family: 'Amiko';font-size: 20px;
}